version: '3.8'

services:

  wallet_db:
    container_name: postgres-container
    image: postgres:15
    environment:
      POSTGRES_DB: wallet_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  wallet_app:
    container_name: wallet-container
    image: wallet-app:1.0.0
    ports:
      - "8080:8080"
    depends_on:
      - wallet_db